# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Vercel
.vercel
.env
.env.local
.env*.local

# Editor / OS
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
